[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scorch = {editable = true, path = "."}
numpy = "*"
scipy = "*"
torch = "*"
black = "*"
flake8 = "*"
mypy = "*"
pytest = "*"

[dev-packages]
ipdb = "*"
jupyterlab = "*"
notebook = "*"
matplotlib = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.1"

[scripts]
format = "black src tests examples"
lint = "flake8 ."
typecheck = "mypy ."
test = "pytest tests"
