[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
torch = "*"
black = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
torch-geometric = "*"
dgl = "*"
torch-sparse = "*"
torch-scatter = "*"
ogb = "*"

[dev-packages]
tqdm = "*"
ipdb = "*"

[requires]
python_version = "3.11"
